%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .fidld
    = f.label :Username
  .field
    = f.text_field :nickname, placeholder: "Username", autofocus: true
  .field
    = f.label :email
    %br/
    = f.email_field :email, placeholder: "user-email", autofocus: true
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, placeholder: "Password", autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, placeholder: "Password(Confilm)", autocomplete: "off"
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
