.container
  .cooking
    = form_for(@knowledge) do |f|
      .col-md-7
        .form-group
          %h2 タイトル
          = f.text_field :title, class: 'form-control'
        .form-group
          %h2 メイン画像
          = f.file_field :image,  class: 'img-thumbnail'
      .col-md-5
        .form-group
          %h2 詳細
          = f.text_area :detail, class: 'form-control'
        .form-group
          %h2 コンセプト
          = f.text_area :concept, class: 'form-control'
        .form-group
          %h2 ヒント・コツ
          = f.text_area :hint, class: 'form-control'
      .cooking-step
        %h3 【ナレッジ手順】
        %ol.ol-style
          - 8.times do |i|
            = f.fields_for :steps do |step_form|
              - i += 1
              %li
                .cooking-step-img
                  = step_form.file_field :sub_image, class: 'img-responsive'
                  %br
                  = step_form.text_area :caption, placeholder: "手順説明", class: 'form-control'
                  = step_form.hidden_field :count, value: i + 1
      .text-center
        = f.submit "Publish", class: 'btn btn-lg btn-primary'


