.container-fluid
  .cooking
    %h1= @knowledge.title
    .cooking-img
      = image_tag @knowledge.image, class: 'img-thumbnail', style:'max-width:800px; max-height:300px;'
    .cooking-recipe
      #like-button
        = render partial: 'like', locals: { knowledge: @knowledge }
    .cooking-recipe
      %h2 詳細
      %p= @knowledge.detail
    .cooking-recipe
      %h2 コンセプト
      %p= @knowledge.concept
    .cooking-recipe
      %h2 ヒント・コツ
      %p= @knowledge.hint
    .cooking-step
      %ol.ol-style
        - @steps.each do |step|
          %li
            .cooking-step-img
              = image_tag step.sub_image, class: 'img-responsive'
            %p.description= step.caption
    %h2 コメント一覧
    #js-comments-field
      = render partial: 'comments', locals: { comments: @knowledge.comments }
    %h2 コメントする
    = form_for [@knowledge, @comment], remote: true do |f|
      .form-group
        = f.text_area :text, rows:'3', class: 'form-control', id: 'js-comment-text'
      = f.submit 'Comment', class: 'btn btn-primary'
